.search-bar {
  background: white;
  border-radius: 20px;
  display: flex;
  width: 40%;
  padding: 5px 15px;
  align-items: center;
}

.search-bar input {
  border: none;
  width: 100%;
  outline: none;
  padding: 5px;
  font-size: 0.9rem;
}

.search-bar button {
  border: none;
  background: none;
  cursor: pointer;
  color: #666;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.search-bar button:hover {
  color: #333;
}

.user-icons {
  display: flex;
  gap: 20px;
  align-items: center;
  color: white;
}

.user-icons a,
.user-icons svg {
  cursor: pointer;
  transition: opacity 0.3s;
}

.user-icons a:hover,
.user-icons svg:hover {
  opacity: 0.8;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid var(--vit-yellow);
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-bar {
    width: 50%;
  }

  .user-icons {
    gap: 10px;
  }
}
